.fr-st0{fill:url(#SVGID_1_);}
.fr-st1{fill:#D6953D;}
.fr-st2{enable-background:new    ;}
.fr-st3{clip-path:url(#SVGID_3_);enable-background:new    ;}
.fr-st4{fill:#AC7831;}
.fr-st5{fill:#A77430;}
.fr-st6{fill:#A2712E;}
.fr-st7{fill:#9D6D2D;}
.fr-st8{fill:#986A2B;}
.fr-st9{fill:#93662A;}
.fr-st10{fill:#8E6328;}
.fr-st11{fill:#895F27;}
.fr-st12{fill:#845C25;}
.fr-st13{clip-path:url(#SVGID_5_);enable-background:new    ;}
.fr-st14{clip-path:url(#SVGID_7_);enable-background:new    ;}
.fr-st15{fill:#B17B32;}
.fr-st16{clip-path:url(#SVGID_9_);enable-background:new    ;}
.fr-st17{clip-path:url(#SVGID_11_);fill:#FED7A3;}
.fr-st18{clip-path:url(#SVGID_11_);fill:#FED6A0;}
.fr-st19{clip-path:url(#SVGID_11_);fill:#FED59D;}
.fr-st20{clip-path:url(#SVGID_11_);fill:#FED39A;}
.fr-st21{clip-path:url(#SVGID_11_);fill:#FED297;}
.fr-st22{clip-path:url(#SVGID_11_);fill:#FED194;}
.fr-st23{clip-path:url(#SVGID_11_);fill:#FECF91;}
.fr-st24{clip-path:url(#SVGID_11_);fill:#FECE8D;}
.fr-st25{clip-path:url(#SVGID_11_);fill:#FECC8A;}
.fr-st26{clip-path:url(#SVGID_11_);fill:#FECB86;}
.fr-st27{clip-path:url(#SVGID_11_);fill:#FEC982;}
.fr-st28{clip-path:url(#SVGID_11_);fill:#FEC77E;}
.fr-st29{clip-path:url(#SVGID_11_);fill:#FEC579;}
.fr-st30{clip-path:url(#SVGID_11_);fill:#FDC374;}
.fr-st31{clip-path:url(#SVGID_11_);fill:#FDC06E;}
.fr-st32{clip-path:url(#SVGID_11_);fill:#FDBD67;}
.fr-st33{clip-path:url(#SVGID_11_);fill:#FDB95E;}
.fr-st34{clip-path:url(#SVGID_11_);fill:#FDB048;}
.fr-st35{clip-path:url(#SVGID_11_);fill:#F8AC47;}
.fr-st36{clip-path:url(#SVGID_11_);fill:#F3A945;}
.fr-st37{clip-path:url(#SVGID_11_);fill:#EEA544;}
.fr-st38{clip-path:url(#SVGID_11_);fill:#E9A242;}
.fr-st39{clip-path:url(#SVGID_11_);fill:#E49E41;}
.fr-st40{clip-path:url(#SVGID_11_);fill:#DF9B3F;}
.fr-st41{clip-path:url(#SVGID_11_);fill:#DA973E;}
.fr-st42{clip-path:url(#SVGID_11_);fill:#D5943C;}
.fr-st43{clip-path:url(#SVGID_11_);fill:#CF903B;}
.fr-st44{clip-path:url(#SVGID_11_);fill:#CA8D3A;}
.fr-st45{clip-path:url(#SVGID_11_);fill:#C58938;}
.fr-st46{clip-path:url(#SVGID_11_);fill:#C08637;}
.fr-st47{clip-path:url(#SVGID_11_);fill:#BB8235;}
.fr-st48{clip-path:url(#SVGID_11_);}
.fr-st49{fill:#B67F34;}
.fr-st50{clip-path:url(#SVGID_11_);fill:#FED8A5;}
.fr-st51{fill:url(#SVGID_12_);}
.fr-st52{fill:url(#SVGID_13_);}
.fr-st53{fill:url(#SVGID_14_);}
.fr-st54{fill:url(#SVGID_15_);}
.fr-st55{fill:url(#SVGID_16_);}
.fr-st56{fill:url(#SVGID_17_);}
.fr-st57{fill:url(#SVGID_18_);}
.fr-st58{fill:url(#SVGID_19_);}
.fr-st59{fill:url(#SVGID_20_);}
.fr-st60{fill:url(#SVGID_21_);}
.fr-st61{fill:url(#SVGID_22_);}
.fr-st62{fill:url(#SVGID_23_);}
.fr-st63{fill:url(#SVGID_24_);}
.fr-st64{fill:url(#SVGID_25_);}
.fr-st65{fill:url(#SVGID_26_);}
.fr-st66{fill:url(#SVGID_27_);}
.fr-st67{fill:url(#SVGID_28_);}
.fr-st68{fill:url(#SVGID_29_);}
.fr-st69{fill:url(#SVGID_30_);}
.fr-st70{fill:url(#SVGID_31_);}
.fr-st71{fill:url(#SVGID_32_);}
.fr-st72{fill:url(#SVGID_33_);}
.fr-st73{fill:url(#SVGID_34_);}
.fr-st74{fill:url(#SVGID_35_);}
.fr-st75{fill:url(#SVGID_36_);}
.fr-st76{fill:url(#SVGID_37_);}
.fr-st77{fill:url(#SVGID_38_);}
.fr-st78{fill:url(#SVGID_39_);}
.fr-st79{fill:url(#SVGID_40_);}
.fr-st80{fill:url(#SVGID_41_);}
.fr-st81{fill:url(#SVGID_42_);}
.fr-st82{fill:url(#SVGID_43_);}
.fr-st83{fill:url(#SVGID_44_);}
.fr-st84{fill:url(#SVGID_45_);}
.fr-st85{fill:url(#SVGID_46_);}
.fr-st86{fill:url(#SVGID_47_);}
.fr-st87{fill:url(#s19_2_);}

svg {
    width: 500px;
    align-self: center;
    justify-self: center;
}

svg:hover #plate {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#plate {
    opacity: 1;
}
@keyframes fruitAnimation {
    from {
        transform: translateZ(0px) translateY(-23px);
        opacity: 0;
    }
    to {
        transform: translateZ(23px) translateY(23px);
        opacity: 1;
    }
}
/*
svg:hover #s1_1_ {
  animation: rotate linear 4s infinite;
  animation-name: rotate;
  z-index: 1;
  position: absolute;
  transform-origin: center;
  transform-box: fill-box;
}
#s1_1_{
    opacity: 0;
}

  @keyframes rotate {
    10% {
      transform: rotate(45deg);
      opacity: 0.3;
    }
    75% {
      transform: rotate(45deg);
      opacity: 0.5;
    }
    100% {
      transform: rotate(0);
      opacity: 1;
    }
}*/
svg:hover #s1_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
svg:hover #s2_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
svg:hover #s3_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
svg:hover #s4_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
svg:hover #s5_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
svg:hover #s6_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
svg:hover #s7_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s8_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s9_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s10_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s11_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s12_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s13_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s14_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s15_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s16_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s17_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s18_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s19_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s20_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s21_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s22_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s23_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
svg:hover #s24_1_ {
    animation-duration: 3s;
    animation-name: fruitAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate
}
#s1_1_ {
    opacity: 1;
}
#s2_1_ {
    opacity: 1;
}
#s3_1_ {
    opacity: 1;
}
#s4_1_ {
    opacity: 1;
}
#s5_1_ {
    opacity: 1;
}
#s6_1_ {
    opacity: 1;
}
#s7_1_ {
    opacity: 1;
}
#s8_1_ {
    opacity: 1;
}
#s9_1_ {
    opacity: 1;
}
#s10_1_ {
    opacity: 1;
}
#s11_1_ {
    opacity: 1;
}
#s12_1_ {
    opacity: 1;
}
#s13_1_ {
    opacity: 1;
}
#s14_1_ {
    opacity: 1;
}
#s15_1_ {
    opacity: 1;
}
#s16_1_ {
    opacity: 1;
}
#s17_1_ {
    opacity: 1;
}
#s18_1_ {
    opacity: 1;
}
#s19_1_ {
    opacity: 1;
}
#s20_1_ {
    opacity: 1;
}
#s21_1_ {
    opacity: 1;
}
#s22_1_ {
    opacity: 1;
}
#s23_1_ {
    opacity: 1;
}
#s24_1_ {
    opacity: 1;
}
@keyframes fruitAnimation {
    from {
        transform: translateZ(0px) translateY(-23px);
        opacity: 0;
    }
    to {
        transform: translateZ(0px) translateY(23px);
        opacity: 1;
    }
}

svg:hover #Shadow {
    animation-duration: 3s;
    animation-name: fruitAnimations;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#Shadow {
    opacity: 0.5;
}
@keyframes fruitAnimations {
    from {
        transform: translateZ(0px) translateY(-23px);
        opacity: 0;
    }
    to {
        transform: translateZ(23px) translateY(23px);
        opacity: 0.4;
    }
}
